@font-face {
  font-family: "Minecraft";
  src: url("minecraft-ten.ttf");
}


*{
    margin:0;
    font-family: "Minecraft", sans-serif;
}
html {
  background-image: url("gloopHouse.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  background-position-x: center;
  background-position-y: 30%;
}
#gloopa {
    position:absolute;
  width: 100%;
  height:auto;
  height: inherit;
}
#topText {
  display:block;
    margin:auto;
    height: inherit;
    max-width: 100%;
  
}
.mainText{
    width: 95%;
}
.textIcon{
    height:40px;
}
#presigloop {
  width: 80%;
  display: block;
  margin: auto;
}
#presigloop2 {
  max-width: 75%;
  max-height: 75%;
  display: block;
  margin: auto;
}
.sideText{
    width: 50%;
}
h2 {
  font-weight: 400;
  font-style: normal;
  font-size: 300%;
  text-align: center;
  width: 100%;
  color:#ffffff;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000;
}
#actualtop {
  z-index: -2;
  height: 800px;
  width: 100%;
}
.bg {
  background: rgb(74, 74, 74);
}
#rounded {
  color: rgb(74, 74, 74);
}
#spacing {
  height: 500px;
}
h1 {
  font-weight: 400;
  font-style: normal;
  font-size: 400%;
  text-align: center;
  width: 100%;
  color:white;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000;
}
#socials img {
  width: 10%;
  -webkit-filter: drop-shadow(1px 1px 0 #fff) drop-shadow(-1px -1px 0 #fff) drop-shadow(1px -1px 0 #fff) drop-shadow(-1px 1px 0 #fff);
  filter: drop-shadow(1px 1px 0 #fff) drop-shadow(-1px -1px 0 #fff) drop-shadow(1px -1px 0 #fff) drop-shadow(-1px 1px 0 #fff);
}
.outlineImg{
    -webkit-filter: drop-shadow(3px 3px 0 #fff) drop-shadow(-3px -3px 0 #fff) drop-shadow(3px -3px 0 #fff) drop-shadow(-3px 3px 0 #fff);
  filter: drop-shadow(3px 3px 0 #fff) drop-shadow(-3px -3px 0 #fff) drop-shadow(3px -3px 0 #fff) drop-shadow(-3px 3px 0 #fff);
}
#socials {
  height: 10%;
}
.flexcontainer{
    display: flex;
  align-items: center;
  justify-content: center
}
.flexcontainer div{
    width:50%;
    display: flex;
  justify-content: center;
  align-items: center;
}
.flexcontainer div h2{
    flex: 0 0 50%;
}
